@import "variables";

html, body {
  height: 100%;
}

#theme-header {
  height: 14%;

  #top-header {
    padding: 15px 0;
    height: 50%;
    background-color: $white;
  }  
  #second-header {
    padding: 15px 0;
    height: 50%;
    background-color: $dark-gray;
    color: $white;
  }
}

#wrap {
  padding: 15px 0;
  min-height: 76%;
  position: relative;
}

#theme-footer {
  height: 10%;

  #footer {
    height: 100%;
    padding: 15px 0;
    background-color: $dark-gray;
    color: $white;
  }
}