@import "variables";

html, body {
  height: 100%;
  background-color: $dark;
}

#theme-header {
  #top-header {
    padding: 20px 0;
    background-color: $white;
  }  
  #header-menu {
    background-color: $dark-gray;
    color: $white;
  }
}

#wrap {
  padding: 20px 0;
  min-height: 76%;
  position: relative;
  background-color: $white;

  #advertise {
    margin-bottom: 50px;
  }
}

#theme-footer {
  #footer {
    text-align: center;
    height: 100%;
    padding: 15px 0;
    background-color: $light-green;
    color: $soft-dark;
  }
}


.navbar-default {
  background-color: $dark-gray;
  border-color: $dark-gray;
}

.navbar-default .navbar-nav > li > a {
  color: $light-gray;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $white;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
  background-color: $dark-gray;
  color: $white;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: $white;
  background-color: $dark-gray;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  color: $white;
  background-color: $light-gray;
}

.dropdown-menu>li>a {
  color: $light-gray;
}

.dropdown-menu {
  background-color: $dark-gray;
  border-color: $light-gray;
}

.dropdown-menu .divider {
  background-color: $light-gray;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}